# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/

# Local Environment & Editor
.env
.env.local
.env.*.local
.env.production
.vscode/
.idea/
*.log

# System files
.DS_Store
Thumbs.db
